{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<form action="" method="post">
    {% csrf_token %}

    <label>Username : </label>
    <input type="text" name="username" placeholder="Enter Username"><br><br>

    <label>Password : </label>
    <input type="password" name="password" placeholder="Enter Password"><br><br>

    <input type="submit" value="Login"><br>

    <p>Haven't signed yet??</p>
    <a href="{% url 'register' %}">Register</a>
</form>

{% else %}

<form action="" method="post">
    {% csrf_token %}

    {{form.as_p}}
    
    <input type="submit" value="Register"><br>

    <p>Already signed??</p>
    <a href="{% url 'login' %}">Login</a>
</form>

{% endif %}


{% endblock %}